header{
    position: fixed;

    max-width: 1480px;
    padding: 7px 0;
    margin: 0 auto;
    border-top: 1px solid #CBA135;
    border-bottom: 1px solid #CBA135;
    display: flex;
    justify-content: space-between;
    top: 20px;
    z-index: 2;
    background-color: #333333;
    left: 20px;
    right: 20px;
    @media (min-width: 992px) {
        align-items: center;
    }      
    
    div.logo{
        height: 70px;
        width: 70px;
        margin-left: 5px;
        // color:#CBA135;
        // text-align: center;
        // line-height: 100%;

        img {
            height: 70px;
        }
        // p{
        //     font-size: 50px;
        //     font-family: 'Zeyada', cursive;
        //     transform: translateY(-24px);
        // }
    }
    div{
        &.menu{   
        display: none;
        // flex-grow: 1;
        @media (min-width: 992px) {
            display: block;       
            flex-grow: 1;
        }    
        }
        &.visible{
            display: block;
            flex-grow: 1;
        }
        &.menu,&.visible{
            @media (min-width: 992px) {      
                ul{
                    display: flex;
                    justify-content: space-around;
                    // height: 100%;
                    // top: 50%;
                    
                }
            }    
        }
    }
    
    li{
        list-style: none;
        padding: 10px 0;
        text-transform: uppercase;
        text-align: center;
        
        a{
            padding: 0 10px;
            color: #CBA135;
            text-decoration: none;
            font-family: 'Cinzel', serif;
            font-size: 30px;
            // font-style: italic;
            // font-weight: 500;
            letter-spacing: 1px;
            text-align: center;
            line-height: 100%;
        }
        a:hover{
            color: darken($color: #CBA135, $amount: 20%);
        }
        a.active{
            border-bottom: 2px solid #CBA135;
            // color: #333333;
            // background-color: #CBA135;
            // border-radius: 5px;
            // box-shadow: black 20px;
        }
        a.active:hover{
            border-color: darken($color: #CBA135, $amount: 20%);;
        }
    }    
    button{
        height: 70px;
        width: 70px;
        font-size: 40px;
        background-color: transparent;
        border: none;
        color: #CBA135;
        @media (min-width: 992px) {
            display: none;
            
        }
    }
    button:focus {
        outline :none;
    }
    button:hover {
        cursor: pointer;
        color: darken($color: #CBA135, $amount: 20%);
    }
    
}

