header{
    position: fixed;
    padding: 10px 0;
    border-top: 1px solid #CBA135;
    border-bottom: 1px solid #CBA135;
    display: flex;
    justify-content: space-between;
    top: 20px;
    z-index: 2;
    background-color: #333333;
    left: 20px;
    right: 20px;    
    
    div.logo{
        height: 50px;
        width: 50px;
        margin-left: 5px;
        color:#CBA135;
        text-align: center;
        // line-height: 100%;
        
        p{
            font-size: 50px;
            font-family: 'Zeyada', cursive;
            transform: translateY(-24px);
        }
    }
    div.menu{   
        display: none;
        }
    div.menu.visible{
        display: block;
    }
    li{
        list-style: none;
        padding: 10px 0;
        text-transform: uppercase;
        text-align: center;
        
        a{
            padding: 0 10px;
            color: #CBA135;
            text-decoration: none;
            font-size: 30px;
            text-align: center;
        }
        a:hover{
            color: darken($color: #CBA135, $amount: 20%);
        }
        a.active{
            border-bottom: 2px solid #CBA135;
            // color: #333333;
            // background-color: #CBA135;
            // border-radius: 5px;
            // box-shadow: black 20px;
        }
        a.active:hover{
            border-color: darken($color: #CBA135, $amount: 20%);;
        }
    }    
    button{
        height: 50px;
        width: 50px;
        font-size: 30px;
        background-color: #333333;
        border: none;
        color: #CBA135;
    }
    button:focus {
        outline :none;
    }
    button:hover {
        cursor: pointer;
        color: darken($color: #CBA135, $amount: 20%);
    }
    
}

