$vh: 100vh;

div.page_wrapper {
    color: #CBA135;
    max-width: 1480px;
    margin: 0 auto;
    
    div.introduction{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: calc(#{$vh} - 170px);
        // background-color: yellow;
        @media (orientation: landscape) {
            flex-direction: row;
            align-items: flex-end;
        }
        div.welcome_text{
            // background-color: grey;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            @media (orientation: landscape) {
                align-self: center;
                order: 1;
                // transform: translateY(-20vh);
                
            }
        }
        
        img{        
            // background:Yellow;
            bottom:0;
            max-height: 50vh;
            max-width: 80vw;

            @media (min-width: 576px) and (orientation: landscape) and (min-height: 321){
                max-height: 60vh;
            }
            @media (min-width: 768px) and (min-height: 500px) {
                max-height: 70vh;
            }

            // background-color: yellow;
        }
    }
    div.short_description{
        p{
            margin: 10px 0;
            // font-size: 20px;
            // text-indent: 30px;
            text-align: center;
        }
        p.center{
            text-align: center;
            text-indent: 0;
        }
        div.motto_container{
            display: inline-block;
            position:relative;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 auto;
            padding: 5px 40px;
            border: 4px solid #CBA135;
            p{
                text-align: center;
                text-indent: 0;
            }
            p.motto{
                font-weight: bold;
                font-style: italic;
            }
            p.author{
                font-size: 1em ;
                @media (min-width: 768px){
                font-size: 1.1em;
                }
                @media (min-width: 992px){
                    font-size: 1.3em;
                }
                @media (min-width: 1200px){
                    font-size: 1.5em;
                }
            }   
        }
        div.button{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        } 
    }
    div.button{
        font-size: 1.2em ;
        @media (min-width: 768px){
            font-size: 1.3em;
        }
        @media (min-width: 992px){
            font-size: 1.5em;
        }
        @media (min-width: 1200px){
            font-size: 1.7em;
        }
    }
    section.websites_description{
        padding-bottom: 15px;
        margin: 15px auto;
        border-top: #CBA135 solid 2px;
        border-bottom: #CBA135 solid 2px;
        div.images{            
            display:flex;
            flex-direction: column;
            @media (orientation:landscape) {
                flex-direction: row;
                border-bottom: 2px solid #CBA135;
            }
            div{
                padding: 15px 0;
                @media (orientation:portrait) {
                    // border-top: 2px solid #CBA135;
                    border-bottom: 2px  solid #CBA135;
                }
                @media (orientation:landscape) {
                    margin: 15px;
                }
                img{
                    max-width: 100%;
                }
                &:nth-child(1){
                    @media (orientation:landscape) {
                        border-right: 2px solid #CBA135;
                    }
                    
                }
                &:nth-child(2){
                    margin-bottom: 15px;
                }
                
            }
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 5px;
            list-style: none;
            li{
                // width: 50%;
                margin: 5px 5px;
            }
        }
    }
    section.links{ 
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        justify-content: space-around;
        @media (min-width: 576px){
            flex-direction: row;
        }       
    }
    div.button{
            display: inline-block;
            margin: 10px auto;
            padding: 10px 30px;
            border:#CBA135 2px solid;
            text-align: center;
            &:hover{
                cursor: pointer;
                background-color: #CBA135;
                a{
                    color: #333;
                }
            }
            a{
                text-align: center;
                color:#CBA135;
                text-decoration: none;
            }
        }
}