body {
  margin: 0;
  h1, h2{
    font-family: 'Inconsolata', monospace;
  }
  p, li, a{
    // font-family: 'Domine', serif;
    // font-family: 'Inconsolata', monospace;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Titillium Web', sans-serif;
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
